<li class='nav-item'><%= link_to 'Пользователи', users_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'MenuItem1', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'MenuItem2', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'MenuItem3', class: 'nav-link' %></li>